body {
  background: linear-gradient(#051f30, #000000);
}

section {
  position: fixed;
  top: 1px;
  width: 50vw;
  margin: 10vw 30vw;
}

.form-label {
  color: white;
}

.content {
  
}
.row {
  align-items: center!important;
}
  
