.input {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    background-color: #0D1117;
    justify-content: space-evenly;
    border-radius: 5px;
    align-items: center;
  }

 /* Diseño responsivo de el contenedor principal */

 @media screen and (width < 821px){
  .input {
    width: auto;
    height: auto;
    display: flex;
    background-color: transparent;
    flex-direction: row;
  }
  
 }
  .value {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 10px;
    color: white;
    display: flex;
    position: relative;
    gap: 5px;
    border-radius: 4px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -380px;
  }

  /* Diseño responsivo de los botones */
  @media screen and (width < 821px) {
    .value {
      width: 100%;
      background-color: transparent;
      border: none;
      padding: 10px;
      color: white;
      display: flex;
      position: relative;
      gap: 5px;
      border-radius: 4px;
      align-items: center;
      justify-content: center;
      margin-top: 1px;
    }
    span {
      display: none;
    }
  }
  
  .value:not(:active):hover,
  .value:focus {
    background-color: #21262C;
  }
  
  .value:focus,
  .value:active {
    background-color: #1A1F24;
    outline: none;
  }
  
  .value::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -10px;
    width: 5px;
    height: 80%;
    background-color: #2F81F7;
    border-radius: 5px;
    opacity: 0;
  }
  
  .value:focus::before,
  .value:active::before {
    opacity: 1;
  }
  
  .value svg {
    width: 15px
  }